@media print{
	h3 {
		font-size: 150%;
		/*we can mess with this value for size*/
	}
	th {
		background-color: #000 !important; 
		color: #FFF !important;
		font-weight: bold !important;
		font-size: 100%;
	}
	.greyback {
		background-color: #ececec !important;
	}
	.printRemove {
		display: none;
	}
	#logocon {
		max-height: 30pt;
		max-width: 30pt;
		width: 30pt;
		height: 30pt;
		float: left;
		/*display: none !important;*/
	}
	#printlogo {
		/*height: 10%;
		max-height: 10pt;
		max-width: 10pt;
		width: 10pt;
		display: inline-block !important;
		position: left;*/
		
	}
	#scheduleTable {
		font-size: 60%;
	}
	
}
/*
Print CSS ends
*/
#printlogo {
	display: none;
	position: left;
}

body {
	font-size: 140%;
	font-family: Calibri,Arial, Helvetica, sans-serif;
	  -webkit-appearance: none; -moz-appearance: none;
  width: 100%;
}
img, #logocon {
	height: auto;
	max-height: 108px;
	max-width: 104px;
	min-height: 108px;
	min-width: 104px;
}
.greyback {
	background-color: #ececec;
}
h3,h4, #titleHead {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media (max-width: 767px) {

	select {
  		font-size: 240%;
	}
}	

select {
	margin-left: auto;
	margin-right: auto;
	font-size: 140%;
}
table {
	width: 80%;
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
}
	table.mytable {
		font-size: 130%;
		border: 1px solid #CCC; 
		font-family: Calibri, Arial, Helvetica, sans-serif;
		margin-top: 5px;
	} 
	.mytable td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #000;
	}
	.mytable th {
		background-color: #000; 
		color: #FFF;
		font-weight: bold;
	}