
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
	table.mytable {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
		margin-top: 5px;
	} 
	.mytable td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.mytable th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}